

version: "3.9"


services:
  backend:
    build: ./backend
    environment:
      - NODE_ENV=${production}
      - PORT=${PORT}
      - FRONTEND_URL=${FRONTEND_URL}
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    environment:
      - VITE_BASE_URL=${VITE_BASE_URL}
    depends_on:
      - backend
    ports:
      - "5173:5173"